# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/aoc2020/.vs/aoc2020/v16
/aoc2020/aoc2020_01/Debug
/aoc2020/Debug
/aoc2020/aoc2020_02/Debug
/aoc2020/aoc2020_03/Debug
/aoc2020/aoc2020_04/Debug
/aoc2020/aoc2020_05/Debug
/aoc2020/aoc2020_06/Debug
/aoc2020/aoc2020_07/Debug
